body
{
	background-color: black;
}

li {
	border: 1px solid white;
	background-color: #BDBDBD;
}

.level
{
	background-color: lightblue;
	width: 70px;
	float: right;
	display: none;
}
.id_display
{
	background-color: pink;
	width: 70px;
	float: right;
	display: none;
}
.parent_id
{
	background-color: lightgreen;
	width: 70px;
	float: right;
	display: none;
}
.position
{
	background-color: yellow;
	width: 70px;
	float: right;
	display: none;
}
.finisheddisplay
{
	background-color: orange;
	width: 70px;
	float: right;
}
.finishedvalue
{
	background-color: orange;
	width: 70px;
	float: right;
	display: none;
}
.hiddenstatus
{
	background-color: gray;
	width: 1em;
	float: right;
	text-align:center;
}
.hidden
{
	height: 5px;
	display: none;
}
.nothidden
{
	height: 1em;
}
.removedstatus
{
	background-color: black;
	color: red;
	width: 20px;
	float: right;
	text-align: center;
}
.removed
{
	height: 5px;
	display: none;
}
.notremoved
{
	height: 20px;
}
.task
{
	margin: 5px;
	padding: 5px;
	width: 400px;
	background-color: white;
}

#tasks
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 80%;
}
#tasks li
{
	margin: 0 5px 5px 5px;
	padding: 5px;
	font-size: 1.1em;
	height: 1.5em;
}
html>body #tasks li
{
	height: 1.5em;
	line-height: 1.2em;
}
.ui-state-highlight
{
	height: 1.5em;
	line-height: 1.2em;
}
.sorter
{
	background-color: white;
	float: left;
	background-image:url("http://www.gstatic.com/tasks/embed-tasks-sprites9.png");
	cursor:-moz-grab;
	vertical-align:top;
	-moz-user-select:none;
	background-position:-254px 0;
	background-repeat:repeat-y;
	width:8px;
	height: 100%;
	margin-right: 5px;
}
.finish
{
	background-color: white;
	width: 16px;
	height: 16px;
	-moz-user-select:none;
	background-image:url("http://www.gstatic.com/tasks/embed-tasks-sprites9.png");
	margin-top:0;
	float: left;
	cursor: pointer;
}
.notfinished
{
	background-position:-16px -2px;
}
.finished
{
	background-position:-32px -2px;
}
.task
{
	position: relative;
	top: 3px;
	display: inline;
}
.taskNotfinished
{
	border: 1px solid black;
	color: black;
}
.taskFinished
{
	color:#808080;
	border:1px dashed #808080;
	text-decoration:line-through;
}
.workingIcon
{
	bottom:0;
	direction:ltr;
	height:32px;
	left:auto;
	position:fixed;
	right:0;
	z-index:99;
	width: 32px;
	padding: 5px;
	display: none;
}
.license
{
	margin: 10px;
	margin-top: 20px;
	vertical-align: middle;
	color: white;
	font-size: 0.7em;
}
.license A:link { color: white; }
.license A:visited { color: white; }
.license A:active { color: white; }
.license A:hover { color: white; }

#dbdebug
{
	color: white;
}

#unsaved
{
	color:white;
	direction:ltr;
	font-size:0.7em;
	left:auto;
	padding:15px;
	position:fixed;
	right:0;
	text-align:center;
	top:0;
	width:150px;
	z-index:99;
	display: none;
}

#tester
{
	display: none;
	color: white;
}
